/** Rules for getting overflow into the flex display rather than the page itself. */
.layout .ant-layout-content[data-active-route="/cart"] {
    flex-grow: 1;
}
.cart-list-layout {
    height: 0;
}
.cart-list-layout .cart-list-layout-content {
    background: #fff;
}
.cart-list-layout .cart-layout-content > *, .cart-list-layout .cart-layout-content > * > * {
    height: 100%;
}
.cart-list-layout .cart-layout-content {
    flex-grow: 1;
    height: 0;
    /* margin-bottom: -16px; */
}
.cart-list-layout .cart-list-extra {
    margin-bottom: -16px;
}