.shopping-cart-popover {
    width: 325px;
}
.shopping-cart-popover-buttons {
    border-top: 1px solid #f0f0f0;
    padding-top: 16px;
    justify-content: space-around;
}

.manage-cart-list {
    /* border-left: 1px solid #f0f0f0; */
}
.manage-cart-item {
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    border: none !important;
    /* border-left: 1px solid #f0f0f0 !important; */
}
.manage-cart-item:first-child {
    margin-top: 0;
}
.cart-dropdown-menu {
    padding: 2px 0 2px 0 !important;
    width: 225px;
}
.cart-dropdown-menu > .ant-dropdown-menu-item {
    padding: 7px 12px;
}
.cart-dropdown-menu > .ant-dropdown-menu-item > .ant-dropdown-menu-title-content {
    display: flex;
    align-items: center;
    width: 100%;
    /*text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
}
.cart-dropdown-search {
    padding: 6px 11px !important;
    box-shadow: none !important;
    border: none !important;
    border-bottom: 1px solid #f0f0f0 !important;
}