.results {
}

.results .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 1rem 0;
  gap: 1rem;
}

.results .header span:first-child {
  flex: 1;
}

.results .results-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: auto, 200px;
  gap: 20px;
}

.results .results-list.list {
  grid-template-columns: 1fr;
}
.results .results-list.grid {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.results .results-list .result-card {
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.05));
  transition: filter 250ms;
  overflow: hidden;
  /* For positioning .ant-card-body::after */
  position: relative;
}

.results .grid .result-card:hover {
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.1));
}

.results .results-list .result-card .ant-card-body {
  min-height: 200px;
  max-height: 200px;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: thin; /* firefox only */
  scrollbar-color: transparent transparent; /* firefox only */
  transition: scrollbar-color 250ms; /* firefox only */
}

.results .results-list .result-card .ant-card-body:hover {
  scrollbar-color: #00000022 transparent; /* firefox only */
}

.results .results-list .result-card .ant-card-body:hover::after {
  filter: opacity(0.0);
}

.results .results-list .result-card .ant-card-body::after {
  /* Text fade-to-white effect on card bodies. */
  /* Position over the entire card to avoid issues with positioning when overflow in the card body. */
  position: absolute;
  content: "";
  left: 0;
  /* Only apply the linear-gradient fade-out effect starting after 40% of the card */
  top: 40%;
  /* Go to the bottom of the card. */
  height: 60%;
  width: 100%;
  /* Safari only has partial linear-gradient support, and it does *not* work properly with transparent values (seems like it treats them as black).
  /* rgba(255, 255, 255, .001) represents something very close to a transparent value, which safari works much better with */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.001), white);
  pointer-events: none;
  transition: filter 250ms;
  /* Unclear what the original purpose of this was, but it doesn't seem to do anything on most browser and breaks on Safari. */
}

.results .results-list .result-card .ant-card-body > .ant-space {
  /* Fix padding issue caused by inline display rule applied by ant-space */
  display: flex;
}

.interactions-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
  width: 100%;
  margin: 1rem 0;
  text-align: center;
}

.interactions-grid .column-title {
  text-align: center;
  font-weight: bold;
}

.results .result-card {
  animation: fadein 250ms ease-in;
}

.results .result-card .tab-content {
  width: 100%;
}

.results .result-card .variables-list li {
  border: 0;
  padding: 0.251rem 0;
}

#studies-chart-container {
  max-width: 100%;
  height: 500px;
}