.histogram-startover-btn {
    margin-bottom: 10px;
}

.within-filter-true {
    background-color: #6399e9;
}
.within-filter-false {
    background-color: #b0b0b78a;
}

.variables-collapse .study-panel .study-panel-header .study-selection-button {
    filter: opacity(0);
    color: #6399e9;
}

.variables-collapse .study-panel:hover .study-panel-header .study-selection-button {
    filter: opacity(1);
}

