.modal-content-container {
  padding: 1rem;
  max-height: 600px;
  overflow-y:  auto;
  scrollbar-width: thin; /* firefox only */
  scrollbar-color: #00000022 transparent; /* firefox only */
  transition: scrollbar-color 250ms; /* firefox only */
}