.shopping-cart-list {
    display: flex;
    flex-direction: column;
    margin-top: -16px;
}
.shopping-cart-list .cart-section-divider {
    /* margin: 2px 0;
    display: none; */
    margin: 0;
    /* These dividers need to be slightly more defined than the dividers between individual list items, since they are separating the lists themselves. */
    background: rgba(0, 0, 0, 0.05);
}
.shopping-cart-list .ant-collapse-header {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.shopping-cart-list .ant-collapse-header .ant-collapse-header-text {
    flex-grow: 1;
}
.shopping-cart-list .ant-collapse-content-box {
    padding: 0 !important;
}
.shopping-cart-list .ant-list {
    /* border-left: 1px solid #f0f0f0;
    padding-left: 8px;
    margin-left: 5px; */
}
.shopping-cart-list .ant-list-item {
    margin-left: 4px;
    margin-top: 8px;
    padding-bottom: 8px;

    padding-top: 0px;
}
.shopping-cart-list .ant-list-item:first-child {
    margin-top: 0;
}
.shopping-cart-list .ant-list-item:last-child {
    padding-bottom: 12px;
}
.shopping-cart-list .ant-list-empty-text {
    display: none;
    /* padding: 4px 0; */
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    /* text-align: start; */
    /* font-style:italic; */
    /* color: rgba(0, 0, 0, 0.85); */
}
.shopping-cart-list .cart-concept-description {
    margin-bottom: 0;
}