.brand_img {
    max-height: 64px;
    object-fit: scale-down;
}

.logout{
    float: right;
    text-decoration: none;
}

.menu-toggle{
    display: block;
}

.mobile-menu-toggle {
    display: none;
    right: 10px;
    position: absolute;
}

@media screen and (max-width: 767px) {
    .mobile-menu-toggle {
        display: block;
    }
    .menu-toggle {
        display: none;
    }
}