.helx-header {
    padding-right: 2px !important;
}

.brand_img {
    max-height: 64px;
    max-width: 150px;
    object-fit: scale-down;
    padding: 2px 0px;
}

.logout{
    float: right;
    text-decoration: none;
}

.menu-toggle{
    display: block;
}

.mobile-menu-toggle {
    display: block;
    right: 10px;
    position: absolute;
}

.logout-button {
    margin: 0 1rem 0 0.5rem;
}
