.histogram-startover-btn {
    margin-bottom: 10px;
}

div.within-filter-false span,
div.within-filter-false a {
    color: grey;
}
div.within-filter-false a:hover {
    color: rgb(69, 69, 69);
    text-decoration: underline;
}

.variables-collapse .study-panel .ant-collapse-header {
    padding-left: 0px !important;
    align-items: center !important;
}
.variables-collapse .study-panel .study-panel-header .study-selection-button {
    color: #6399e9;
}

.variables-collapse .study-panel.unselected .study-panel-header .study-selection-button {
    filter: opacity(0);
}

.variables-collapse .study-panel.selected .study-panel-header .study-selection-button {
    filter: opacity(1);
}

.variables-collapse .study-panel:hover .study-panel-header .study-selection-button {
    filter: opacity(1);
}

.scrollable-div {
    height: 300px;
    overflow: auto;
    padding: 4px 16px;
    border: solid 1px #dddddd;
}

