.search-form {
  display: flex;
  /* gap: 1rem; */
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  transition:  min-height 500ms ease-out;
}
.search-form.ant-form {
  margin: 0 auto;
  margin-bottom: 24px;
}

.search-form.with-results {
  min-height: 0;
}

.search-form.without-results {
  /* min-height: 20rem; */
}

.ant-form-item:first-child {
  flex: 1;
}

.search-form .ant-form-item {
  margin: 0;
}