.modal-content-container {
  padding: 1rem;
  width: 100% !important;
  max-height: 600px;
  overflow-y:  auto;
  scrollbar-width: thin; /* firefox only */
  scrollbar-color: #00000022 transparent; /* firefox only */
  transition: scrollbar-color 250ms; /* firefox only */
}

.ant-space {
  width: 100%;
}

.concept-modal-body > .ant-space-item:nth-child(2) {
  width: 100% !important;
  flex-grow: 1;
}

.previous-result-btn {
  margin-top: 4px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.45) !important;
  transition: color 0.3s ease;
}
.previous-result-btn:hover {
  color: inherit !important;
}

.study-variables-list {
  font-size: 90% !important;
}

.study-variables-list-item {
  display: flex;
  margin-left: 4px;
  padding-left: 1rem !important;
  border-left:  2px solid #eee;
  margin-bottom: 0.5rem;
  gap: 2px !important;
}

.variable-name {
  font-weight: 500;
}

.variable-description {
  font-style: italic;
}

.tab-name {
  display: none;
}

.concept-modal-failed-result .ant-result-icon {
  margin-top: 16px;
}
.concept-modal-failed-result .ant-result-content {
  /* Cancel out padding without cutting off component */
  margin-bottom: -16px;
}

@media (min-width: 600px) {
  .tab-name {
    display: inline;
  }
}
