.menu {
  border-right: 0;
}

.logout {
    float: right;
    text-decoration: none;
}

.menu-toggle {
    display: block;
}

.mobile-menu-toggle {
    display: block;
    right: 10px;
    position: absolute;
}