.node {
  position: relative;
  display: block;
  margin: 0 auto;
  background-color: crimson;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #000;
  box-sizing: content-box;
  z-index: 2;
}

.edge {
  position:               relative;
  border-bottom: 1px dashed crimson;
  color: #666;
  font-size: 80%;
  display: block;
  height: 22px;
  margin: 0;
  width: 200%;
  transform: translate(-25%, -15px);
  z-index: 1;
}

.source-label, .target-label {
  font-size: 80%;
}