.results {
}

.results .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 1rem 0;
}

.results .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: auto, 200px;
  gap: 20px;
}

.results .grid .result-card {
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.05));
  transition: filter 250ms;
  overflow: hidden;
}

.results .grid .result-card:hover {
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.1));
}

.results .grid .result-card .ant-card-body {
  min-height: 200px;
  max-height: 200px;
  overflow: hidden;
  position: relative;
  overflow-y: auto;
  scrollbar-width: thin; /* firefox only */
  scrollbar-color: transparent transparent; /* firefox only */
  transition: scrollbar-color 250ms; /* firefox only */
}

.results .grid .result-card .ant-card-body:hover {
  scrollbar-color: #00000022 transparent; /* firefox only */
}

.results .grid .result-card .ant-card-body:hover::after {
  filter: opacity(0.0);
}

.results .grid .result-card .ant-card-body::after {
  position: fixed;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(transparent 60%, white 90%);
  pointer-events: none;
  transition: filter 250ms;
}

.interactions-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
  width: 100%;
  margin: 1rem 0;
  text-align: center;
}

.interactions-grid .column-title {
  text-align: center;
  font-weight: bold;
}

.results .result-card {
  animation: fadein 250ms ease-in;
}

.results .result-card .tab-content {
  width: 100%;
}

.results .result-card .variables-list li {
  border: 0;
  padding: 0.251rem 0;
}