/*
 * search form
 */

.search-form {
  display: flex;
  gap: 1rem;
}

.ant-form-item:first-child {
  flex: 1;
}

/*
 * search results
 */

.results {
}

.results .header {
  display: flex;
  justify-content: space-between;
}

.results .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto, 200px;
  gap: 20px;
}

.results .grid .result-card {
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.05));
  transition: filter 250ms;
  overflow: hidden;
}

.results .grid .result-card:hover {
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.1));
}

.results .grid .result-card .ant-card-body {
  min-height: 200px;
  max-height: 200px;
  overflow: hidden;
  position: relative;
}

.results .grid .result-card .ant-card-body::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(transparent 66%, white);
  pointer-events: none;
}

.interactions-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1rem;
  width: 100%;
  margin: 1rem 0;
  text-align: center;
}

.interactions-grid .column-title {
  text-align: center;
  font-weight: bold;
}

/* knowledge graphs */

.node {
  position: relative;
  display: block;
  margin: 0 auto;
  background-color: crimson;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1rem solid #ddd;
  box-sizing: content-box;
  z-index: 2;
}

.edge {
  position: relative;
  border-bottom: 1px dashed crimson;
  display: block;
  height: 1.75rem;
  margin: 0;
  width: 200%;
  transform: translate(-25%, 1rem);
  z-index: 1;
}

/* pagination */

.pagination-tray {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pagination-link {
  border: 1px solid #ccc;
  padding: 0.5rem;
}

.ellipsis-icon {
  padding: 0.5rem;
}
