@import url('antd/dist/antd.css');
@import url('rc-texty/assets/index.css');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  /* font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  height: 100vh;
}

.ant-layout.layout {
  min-height: 100%;
}

main.ant-layout-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
main.ant-layout-content > .routing-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}