:root {
    --color-grey: #606264;
    --color-lightgrey: #a0a2a4;
    --color-crimson: #b33243;
    --color-eggplant: #323268;
    --color-eggplant-dark: #202050;
    --color-blueberry: #21568a;
    --color-blueberry-light: #21568a66;
    --color-peach: #f2b5a7;
    --color-gold: #f2dd72;
    --color-sea: #4d868c;
    --color-note: #1d568c;
    --color--error: orange;
    --color--warning: darkorange;
    --color--danger: red;
}