.expanded-results-layout {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
    /* display: flex; */
}
.expanded-results-layout .results-sidebar {
    flex: 0;
    white-space: nowrap;
}
.expanded-results-layout .results-sidebar .results-list {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: auto; */
    /* grid-template-rows: auto; */
}
.expanded-results-layout .results-sidebar .search-form {
    margin-bottom: 0 !important;
}
/* Target the result list `ant-space-item` container */
.expanded-results-layout .results-sidebar > *:nth-child(3) {
    /* Force the overflowing list to obey the height specified by flex-grow */
    height: 0;
    flex-grow: 1;
    overflow-y: auto;
}
.expanded-result-option {
    cursor: pointer;
    transition: filter 0.25s, background-color 0.25s, color 0.25s;
}
.expanded-result-option:hover {
    /* filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.1)); */
    z-index: 1000;
    /* background-color: rgb(240, 242, 245) */
    background-color: #e1e5eb;
}
.expanded-result-option.selected {
    background-color: #1890ff !important;
    color: white;
}
.expanded-result-option-card {
    transition-property: all !important;
}
.expanded-result-option-card.selected {
    background-color: #1890ff !important;
    color: #fff;
    filter: brightness(0.925) drop-shadow(0 0 2px rgba(0, 0, 0, 0.05));
    /* border-color: #1890ff !important; */
}
.expanded-result-option-card.selected .ant-card-head-title {
    /* color: #1890ff !important; */
    color: #fff;
}
.expanded-result-option-card.selected .ant-card-body > .ant-typography {
    /* color: rgba(0, 0, 0, 0.85); */
    color: #fff;
}
.expanded-result-option-concept-card {
    /* min-width: min(400px, 90vw); */
}
.expanded-result-option-concept-card .ant-card-body {
    min-height: 0 !important;
}
.expanded-result-option-concept-card .ant-card-body::after {
    /* Remove blurring effect on cards */
    display: none;
}
.expanded-result-option-concept-card.selected {
    border-color: #1890ff;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.05)) brightness(0.925) !important;
}


.expanded-result-container {
    flex: 1;
    background: #fff;
    padding: 0 8px;
}
.expanded-result-container > .ant-card-body {
    padding: 0;
}
.expanded-result-container > .ant-space > .ant-space-item > .ant-menu {
    /* background: none; */
}
